AIRFLOW_UID=50000
AIRFLOW_IMAGE_NAME=ecommerce-airflow:3.3.0

_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=CHANGE_ME

MSSQL_DRIVER=ODBC Driver 18 for SQL Server
MSSQL_SERVER=host.docker.internal,1433
MSSQL_DATABASE=EcommerceDataEngineering
MSSQL_USER=YOUR_SQL_USERNAME
MSSQL_PASSWORD=YOUR_SQL_PASSWORD
